:root
    
/*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

 body{
    font-family: sans-serif;
 }   

 header{
    width: 80%;
    height: 95vh;
    /*border: 1px solid #000;*/
    margin: auto;
 }


 
header nav{
    width: 95%;
    height: 7%;
    /*border: 1px solid #000;*/
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    list-style: none;
    display: flex;

}

header nav ul li{
    padding: 3px 15px;
}

header nav ul li:nth-child(1){
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px 20px;
}

header nav ul li:nth-last-child(1){
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px 20px;
}

header nav ul li:nth-child(1) a {
   color: #ffffff;
}

header nav ul li:nth-last-child(1) a {
    color: #ffffff
}

header nav ul li a{
    text-decoration: none;
    color: #121312;
    font-size: 13px;    
    font-weight: 500;
    transition: 3s linear;
}

header nav ul li a:hover{
    color: rgb(0, 0, 0);
}

header .content{
    position: relative;
    width: 100%;
    height: 93%;
    /*border: 1px solid #000;*/
}

header .content::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    border: 1px solid #000;
    background:  url('1.jpg') no-repeat center center/cover;
    border-radius: 10px;
    z-index: -1;

}

header .content .cont_bx{
    width: 500px;
    height: auto;
    color: #fff;
    padding: 30px;
}

header .content .cont_bx h1{
    line-height: 40px;
    font-weight: 800;
    color:  whitesmoke;
    padding: 8%;
    /*margin:0;*/
   /* border: 1px solid #000;*/
}


header .content .cont_bx p{
    font-size: 14px;
    font-weight: 400;
    color: whitesmoke;
    
    
}

header .trip_bx{
    position: relative;
    width: 95%;
    height: auto;
    margin: auto;
    /*border: 1px solid #000;*/

}

header .trip_bx .search_box{
    position:absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(114, 114, 114,);
    z-index: 1;
    padding: 10px 20px;
}

header .trip_bx .search_box .card{
    width: 200px;
    height: 100%;
    /*border: 1px solid #000;*/

}

header .trip_bx .search_box .card h4{
    font-size: 15px;
    margin: 00;
    font-weight: 700;
}

header .trip_bx .search_box .card h4 .bi{
   position: absolute;
   font-size: 13px;
   margin: 2px 0px 0px 5px;
   transition: .3s linear;
}

header .trip_bx .search_box .card input{
    margin-top: 3px;
    padding: 5px 0px;
    border: none;
    outline: none;
    font-size: 13px;
}

header .trip_bx  .travel_bx{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    top: 40px;
    /*background: #000;*/
    /*border: 1px solid #000;*/
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 20px 25px -10px rgba(165, 165, 165);
}

header .trip_bx  .travel_bx::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 20px 25px -10px rgba(165, 165, 165);
    backdrop-filter: blur(5px);
    z-index: -1;
}

header .trip_bx  .travel_bx h4{
    margin: 0;
    padding: 60px 0px 15px 1.7%;
    color: #fff;
}

header .trip_bx  .travel_bx .cards{
   width: 96%;
   height: auto;
   margin: 0 auto;
  /* border: 1px solid #fff;*/
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header .trip_bx  .travel_bx .cards .card{
   width: 220px;
   height: 180px;
   /*border: 1px solid #000;*/
  
}

header .trip_bx  .travel_bx .cards .card h3{
   margin: 0px 0px 10px 0px;
   display: flex;
   align-items:center;
   font-size: 16px;
   font-weight: 600;
   color: aliceblue;
}

header .trip_bx  .travel_bx .cards .card img{
  width: 80%;
  height: 50%;
}

header .trip_bx  .travel_bx .cards .card .cont_names a{
  text-decoration: none;
  background: #000;
  color: #fff;
  border-radius: 20px;
  padding: 6px 20px;
  font-size: 11px;
  transition: .3s linear;
}

header .trip_bx  .travel_bx .cards .card .cont_names a:hover{
  background:linear-gradient(rgba(0, 0, 0, 0.4)50%, rgba(0, 0, 0, 0.4)50%);
}